.noprint {
	display: none !important;
}

.grade-section {
	padding-top: 50px !important;
}

.grade-logo1 {
	width: 80px !important;
	margin-right: 20px !important;
}

.grade-logo2 {
	width: 80px !important;
}

.logo-right {
	top: 0;
	right: 10px;
}

.logo-right div {
    width: 55px !important;
}

.logo-left {
	top: 0;
	left: 10px;
}

.logo-left div {
    width: 55px !important;
}