.noprint {
	display: none !important;
}

.grade-section {
	padding-top: 50px !important;
}

.grade-logo1 {
	width: 80px !important;
	margin-right: 20px !important;
}

.grade-logo2 {
	width: 80px !important;
}