.ajs-message {
	color: #fff;
}
.text-center {
	text-align: center;
}
.center {
	margin: 0 auto;
}
.mt-30 {
	margin-top: 30px;
}
.mt-10 {
	margin-top: 10px;
}
.bold {
	font-weight: bold;
}
#loader {
	display: none;
	position: fixed;
	z-index: 999999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/* Transparent Overlay */
#loader:before {
	content: '';
  	display: block;
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0,0,0,0.3);
}
#loader-image {
	font-size:60px;
}
label.error {
	color:#f00;
	font-weight: 300 !important;
	font-style: italic;
	display: none;
}
 /* chart style*/
 #legend ul {
	list-style: none;
}

#legend ul li {
	display: inline;
	padding-left: 30px;
	position: relative;
	/* margin-bottom: 4px; */
	border-radius: 5px;
	padding: 2px 8px 2px 28px;
	font-size: 14px;
	cursor: default;
	-webkit-transition: background-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

#legend li span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 100%;
}

.profile-image {
    width: 100%;
}

.profile-label {
    font-size: 22px;
}

.profile-box {
    padding: 50px;
}

.profile-btn {
	float: right;
}

.table-marker {
	width: 120px;
}

.score-marker {
	padding-top: 15px !important;
}

.sheet-title {
    padding: 50px 0 30px 0;
}

.subject-title {
    font-size: 22px;
}

.student-title {
    font-size: 18px;
}

.period-title {
    font-size: 16px;
}

.color-red {
	color: #ff0000;
}

.grade-primary {
	background: #007bff;
}

.grade-secondary {
	background: #6c757d;
}

.grade-success {
	background: #28a745;
}

.grade-info {
	background: #17a2b8;
}

#studentTable tbody tr td > div.student-grade {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    color: #fff;
}

.student-grade-header {
    color: #fff;
    padding: 2px 4px;
    margin-right: 5px;
}

.grade-fail {
	color: #ff0000 !important;
}

.sheet-buttons {
    float: right;
}

.hideme {
	display: none;
}

.login-logo img {
    width: 100%;
    max-width: 60px;
}

.form-header-title {
    margin-top: 30px;
    font-weight: bold;
}

.form-header {
	text-align: center;
	line-height: 10px;
}

.school-name {
    font-size: 14px;
    color: #5a98ce;
}

.form-header-container {
    position: relative;
    margin-top: 30px;
}

.logo-right {
    position: absolute;
	top: -5px;
    right: 50px;
}

.logo-right > div {
	display: inline-block;
	margin-left: 10px;
}

.logo-right div img {
    width: 100%;
    max-width: 55px;
}

.logo-left {
    position: absolute;
    top: -5px;
    left: 50px;
}

.logo-left > div {
	display: inline-block;
	margin-right: 10px;
}

.logo-left div img {
    width: 100%;
    max-width: 55px;
}

.form-content, .transfer-div, .certificate-transfer, .cancel-transfer, .principal-signature {
    margin-top: 30px;
}

.form-content-underline {
	border-bottom: 1px solid #000;
}

.rp0 {
	padding-right: 0 !important;
}

.lp0 {
	padding-left: 0 !important;
}

.main-td {
	width: 50%;
	padding: 0 10px 10px 10px;
}

.form138-main-table, .grade-description, .form138-main-table2, .form-content table, .certificate-transfer table, .cancel-transfer table, .form-signatures table, .principal-signature table, .parent-signature table, .rating-table {
    width: 100%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w25 {
	width: 25%;
}

.w8 {
	width: 8%;
}

.w40 {
	width: 40%;
}

.lp10 {
	padding-left: 10px;
}

.indented {
	text-indent: 30px;
}

.border-bottom-solid {
	border-bottom: 1px solid #000;
}

.form-signature-td {
	width: 45%;
}

.form-signatures {
    margin-top: 30px;
}

.form-138-body {
	font-size: 11px;
}

.first-title {
    font-weight: bold;
	font-size: 12px;
}

.parent-signature-label {
    font-weight: bold;
    font-size: 12px;
}

.parent-signature table tr td {
    padding-top: 10px;
}

.parent-signature {
	padding: 0 40px;
	margin-top: 100px;
}

.report-attendance {
	margin-top: -100px;
}

.form138-main-table {
    border: 2px solid #000;
}

.form138-main-table2 {
	border: 2px solid #000;
	margin-top: 20px;
	font-size: 12px;
}

.rating-table tr td, .grade-description tr td {
	padding: 3px;
}

.middle-align {
	vertical-align: middle !important;
}

.back-right {
	padding-top: 20px;
	padding-bottom: 20px;
}